# Byte-compiled / optimized files
.pytest_cache/
__pycache__/
*.py[cod]
.pytest_cache/

# environments
.env

# other local files
.DS_Store

# dbt artifacts
logs/dbt.log
dbt_dreamsdata/logs
dbt_dreamsdata/target
dbt_dreamsdata/dbt_packages
/logs
