functions-framework==3.*
db-dtypes==1.2.0
pytz==2024.1
pandas>=2.2.2
numpy>=2.1.1
requests==2.31.0
google-auth==2.27.0
google-cloud-core==2.4.1
pandas-gbq==0.22.0
dreams_core>=0.2.23
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
google-cloud-bigquery>=3.12.0
